.travel-history ul {
  margin: 3rem 0;
  padding: 0;
  list-style-type: none;
}

.travel-history h2 {
  text-align: center;
}

#scroll-to-location {
  animation: show-up ease-in var(--animation-duration, 0.5s);
  position: relative;
  bottom: -3rem;
}

#scroll-to-location::after {
  content: '';
  position: absolute;
  border: 1rem solid transparent;
  border-top-color: inherit;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
}

#location {
  margin-top: 2rem;
}
