.location-headline {
  --margin: 96px;

  align-self: stretch;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  margin-left: var(--margin);
}

.location-headline::after {
  --margin: 96px;

  content: '';
  position: absolute;
  top: 50%;
  left: calc(var(--margin) * -1 - 16px);
  width: 96px;
  height: 96px;
  background-image: url('/svg/pipe.svg');
  transform: translateY(-50%) rotate(90deg);
}

.location-headline > small {
  font-size: 1.25rem;
  text-align: center;
}

@media (min-width: 768px) {
  .location-headline {
    --margin: 172px;

    margin-right: var(--margin);
  }

  .location-headline::before {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(var(--margin) * -1 - 12px);
    height: calc(96px * 0.5);
    width: 96px;
    background-image: url('/svg/pipe-segment.svg');
    background-repeat: repeat-y;
    transform: translateY(-50%) rotate(90deg);
  }
}
