.location-entry {
  --margin: 96px;

  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: calc(var(--margin) + 3rem);
}

.location-entry::before {
  content: '';
  position: absolute;
  top: calc(-96px);
  left: 50%;
  width: 64px;
  height: 32px;
  transform: translateX(-50%) rotate(180deg);
  background-image: url('/svg/pipe-segment.svg');
  background-repeat: repeat-y;
}

.location-entry::after {
  content: '';
  position: absolute;
  top: calc(-64px);
  left: 50%;
  width: 64px;
  height: 64px;
  transform: translateX(-50%) rotate(180deg);
  background-image: url('/svg/pipe.svg');
}

.location-headline {
  align-self: stretch;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.location-headline > small {
  font-size: 1.25rem;
  text-align: center;
}
