amp-inline-gallery {
  --margin: 1rem;

  margin-bottom: var(--margin);
}

amp-img {
  background-color: var(--color-bg);
}

@media (min-width: 768px) {
  amp-inline-gallery {
    --margin: 1rem;
  }
}
