.gallery {
  display: grid;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
  max-width: 100%;
}

.gallery > picture,
.gallery img {
  height: 100%;
  width: 100%;
}

.gallery img {
  object-fit: cover;
}

.youtube {
  width: 318px;
  height: 180px;
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 0.5fr);
  }

  .youtube {
    width: 576px;
    height: 324px;
  }
}
