---
layout: default
title: Where is Mario?
---

<style>{% include 'styles/index.css' %}</style>

<header>
  {% include 'partials/avatar.njk' %}
  <h1>{{ title }}</h1>
  <a id="scroll-to-location" class="button" href="#location">View latest sighting</a>
</header>

{% for location in history %}
  {% set idx = loop.index0 %}

  {% if loop.first %}
    <div id="location">
      {% include 'partials/screen.njk' %}
    </div>
    {% if loop.length > 1 %}
      <section class="travel-history">
        <h2>Mario's travel history</h2>
        <ul>
    {% endif %}
    {% else %}
      {% include 'partials/location-entry.njk' %}
  {% endif %}
  {% if loop.last and loop.length > 1 %}
      </ul>
    </section>
  {% endif %}
{% endfor %}

{% include 'partials/pull-request.njk' %}