<style data-helmet>{% include 'styles/change.css' %}</style>

<aside class="change">
  <h2>Mario's location has changed?</h2>
  <p>Let us know by opening a <a href="{{ pkg.repository }}/pulls" rel="noindex nofollow noopener noreferrer" target="_blank">pull request</a>. Thank you!</p>
</aside>