<style data-helmet>{% include 'styles/footer.css' %}</style>
<footer>
  <h2>{{ manifest.name }}</h2>
  <p>{{ manifest.description }}</p>
  <a href="{{ pkg.repository }}" rel="noindex nofollow noopener noreferrer" target="_blank">
    GitHub
  </a>
</footer>