{% set startDate = location.date %}
{% set endDate = history[loop.index0 - 1].date %}

<style>{% include 'styles/location-entry.css' %}</style>

<li class="location-entry">
  <article>
    <h3 class="location-headline"><small>{{ location.location.name }},</small><span>{{ location.location.city }}</span></h3>
    <strong>{{ startDate | dateRelative(endDate) }}</strong>
    <span>{{ startDate | date('MMM D, YYYY') }} – {{ endDate | date('MMM D, YYYY') }}</span>
    <div class="location-media">
      {% include 'partials/media.njk' %}
    </div>
  </article>
</li>