{% set media = location.media %}
{% set images = images[idx] %}

{% if images and images.length > 0 %}
  {% include 'partials/images.njk' %}
{% endif %}

{% if media.video %}
  {% set video = media.video %}
  {% include 'partials/video.njk' %}
{% endif %}
